<div class="content-center">
    <h2>Presentations</h2>
    <div>
        {#each $presentations as presentation (presentation.id)}
        <PresentationCard {presentation}></PresentationCard>
        {/each}
    </div>
</div>

<style>
.content-center {
    padding: 1rem 0;
}

h2 {
    padding: 0 .5rem;
    padding-bottom: .15rem;
    margin-bottom: 1.1rem;
    margin-left: .5rem;
    border-bottom: 1px solid #222;
    display: inline-block;
}
</style>

<script>
    import { AppStore } from '../App.store';
    import PresentationService from '../Services/presentation.service';

    export default {
        store: () => AppStore,
        oncreate() {
            PresentationService.getPresentations()
                .then(presentations => AppStore.set({ presentations }))
        },
        components: {
            PresentationCard: './PresentationCard',
        }
    }
</script>