<div class="card shadow-2" on:click="refs.open.click()">
    <h3 class="title">{presentation.title}</h3>
    <article class="desc">{presentation.description}</article>
    <div class="horizontal footer">
        <div class="count">{ presentation.slides.length }</div>
        <i class="material-icons">amp_stories</i>
        <div class="flex"></div>
        <a ref:open href="#/present/{presentation.id}">Open</a>
    </div>
</div>

<style>
.card {
    display: inline-block;
    max-width: calc(400px - 1.5rem);
    margin: .5rem;
    cursor: pointer;
}

.title {
    line-height: 1;
    font-weight: 500;
    font-size: 1.25rem;
    color: white;
}

.desc {
    font-size: .85rem;
    color: #bbb;
}

.footer {
    margin-top: 1rem;
}
.count {
    font-size: 1.35rem;
    font-weight: 400;
    font-family: 'Quicksand';
}
i {
    color: #222;
    position: relative;
    top: .2rem;
    margin-left: .25rem;
}
a, a:visited {
    color: #222;;
    text-decoration: none;
}

@media (max-width: 800px) {
    .card {
        display: block;
        max-width: 100%;
    }
}
</style>