<div class="vertical">
    <div class="wrap">
        <PresenterVideo></PresenterVideo>
    </div>
</div>

<style>
.vertical {
    height: 100%;
}

.wrap {
    margin: auto;
}
</style>

<script>
export default {
    components: {
        PresenterVideo: '../Present/PresenterVideo',
    }
}
</script>