@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
			user-select: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input, textarea {
	-webkit-user-select: text !important;
	   -moz-user-select: text !important;
	    -ms-user-select: text !important;
	        user-select: text !important;
}

.selectable, .selectable * {
	-webkit-user-select: text;
	   -moz-user-select: text;
	    -ms-user-select: text;
	        user-select: text;
}

h1, h2, h3, h4, h5, h6, p, body {
	margin: 0;
	padding: 0;
	font-family: 'Quicksand';
	font-weight: 400;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	color: #ddd;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	background-color: #000000;
	background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
	font-family: "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
body:after {
	position: absolute;
	content: '';
	display: block;
	height: 100%;
	width: 100%;
	pointer-events: none;
	z-index: -1;
	background-image: linear-gradient(45deg, rgba(44, 62, 80, .1) 2.38%, #fff0 2.38%, #fff0 50%, rgba(44, 62, 80, .1) 50%, rgba(44, 62, 80, .1) 52.38%, #fff0 52.38%, #fff0 100%);
	background-size: 29.70px 29.70px;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

.vertical, .horizontal {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.horizontal.center, .vertical.center {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.vertical {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.horizontal {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
}

.flex {
	-webkit-box-flex: 1;
	    -ms-flex: 1 1 0px;
	        flex: 1 1 0;
}

.overflow-y {
	overflow-y: auto;
}

.shadow-1 {
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.shadow-2 {
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.shadow-3 {
	-webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.shadow-4 {
	-webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shadow-5 {
	-webkit-box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.content-center {
	width: 100vw;
	max-width: 800px;
	padding: 0 .5rem;
	margin: 0 auto;
}

.card {
	border: 1px solid #ddda;
    outline: 1px solid #191919;
    background: #222;
    padding: .5rem;
    padding-bottom: .15rem;
}

.primary-button {
	border: 1px solid #ddda;
    outline: 1px solid #191919;
    background: rgb(0,80,160);;
    padding: .25rem .75rem;
	cursor: pointer;
	font-size: 1rem;
	line-height: 1;
	color: inherit;
	min-width: 6rem;
}