<div id="router-content" class="flex">
</div>

<style>
    #router-content {
        overflow-y: auto;
        overflow-x: hidden;
    }
</style>

<script>
    import { withRoutes } from './RouterService';

    export default {
        oncreate() {
            this.view = null;
            this.viewTarget = document.querySelector('#router-content');
            withRoutes(this.get().routes, (comp) => {
                this.setView(comp);
            });
        },
        methods: {
            setView(component) {
                this.view && this.view.destroy();
                this.view = new component({
                    target: this.viewTarget
                });
            }
        }
    };

</script>