<div class="card presenter-video">
    <video ref:video autoplay></video>
</div>

<style>
.presenter-video {
    width: 320px;
    height: 480px;
    overflow: hidden;
    padding: 0;
}

video {
    margin: 0;
    padding: 0;
    transition: transform 2s cubic-bezier(.74, .63, .37, .72);
}
</style>

<script>
import FaceDetect from './faceDetect';

export default {
    oncreate() {
        navigator.getUserMedia({ video: { width: 640, height: 480 } }, (_stream) => {
            try {
                this.refs.video.srcObject = _stream;
            } catch(e) {
                this.refs.video.src = window.HTMLMediaElement.srcObject(_stream);
            }
            this.refs.video.play();
            this.startDetection();
        }, e => console.log("failed getUserMedia: " + e));
    },
    ondestroy() {
        this.stopDetection();
    },
    methods: {
        startDetection() {
            FaceDetect.start(this.refs.video, (face) => this.handleFace(face));
        },
        stopDetection() {
            FaceDetect.stop();
        },
        handleFace(face) {
            const xFaceCenter = face.x + (face.width / 2);
            const xOff = (-xFaceCenter + 160);
            this.refs.video.style.transform = `translate3d(${xOff}px, 0, 0)`;
        }
    }
}
</script>