<svelte:window on:resize="onResize()" />
{#if !$presentation}
    <h2>Loading</h2>
{:else}
<div class="vertical">
    <div class="vertical content-wrap">
        <div class="toolbar horizontal">
            <h1>{$presentation.title}</h1>
            <div class="flex"></div>
            {#if canPresent && !presenting}
            <button class="primary-button" on:click="present()">Present</button>
            {:elseif presenting && !recording}
            <button class="primary-button" on:click="startRecord()">Record</button>
            {:elseif recording}
            <button class="primary-button" on:click="stopRecord()">Stop and Download</button>
            {:else}
            <button class="primary-button" on:click="faceTracking()">Try Face Tracking</button>
            {/if}
        </div>
        <div class="v-center-wrap horizontal">
            {#if canPresent && presenting}
                <PresenterVideo></PresenterVideo>
                <div class="spacer"></div>
            {/if}
            <SlideDeck></SlideDeck>
        </div>
        <div class="footer">
            <h2>Devin Kiser</h2>
        </div>
    </div>
</div>
{/if}

<style>
.vertical {
    position: relative;
    height: 100%;
}
.content-wrap {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    max-height: 768px;
    margin: auto;
    align-items: center;
    justify-content: space-between;;
}
.toolbar {
    width: 100%;
    padding: 1rem;
}
.toolbar h1 {
    padding: 0 .5rem;
    padding-bottom: .15rem;
    border-bottom: 1px solid #222;
    display: inline-block;
}

.footer {
    width: 100%;
    padding: 1rem;
}

.spacer {
    width: 1rem;
}
</style>

<script>
    import { AppStore } from '../App.store';
    import { getActivatedRoute, navigate } from '../Router/RouterService';
    import PresentationService from '../Services/presentation.service';
    import Recorder from './recorder';

    export default {
        data: () => ({
            slideIndex: 0,
            canPresent: window.innerWidth >= 1200,
            presenting: false,
            recording: false,
        }),
        store: () => AppStore,
        oncreate() {
            const id = getActivatedRoute().params.id;
            PresentationService.getPresentations().then(presentations => {
                AppStore.set({ presentation: presentations.find(p => p.id === id) });
            });
        },
        ondestroy() {
            Recorder.stop();
        },
        methods: {
            onResize() {
                this.set({ canPresent: window.innerWidth >= 1200 });
            },
            present() {
                this.set({ presenting: true });
            },
            startRecord() {
                Recorder.start();
                this.set({ recording: true });
            },
            stopRecord() {
                Recorder.stop();
                setTimeout(() => {
                    Recorder.download();
                }, 2000);
                this.set({ recording: false });
            },
            faceTracking() {
                navigate('/faceTrack');
            }
        },
        components: {
            SlideDeck: './SlideDeck',
            PresenterVideo: './PresenterVideo',
        }
    }
</script>