<svelte:window on:keyup="onKeyup(event)" />
<div on:click="nextSlide()" class="wrapper">
    <div class="card slide {slideClasses}">
        {@html mdHtml}
    </div>
    <div class="slide-count">{slideIndex + 1} / {$presentation.slides.length}</div>
</div>

<style>
    .wrapper {
        position: relative;
    }
    .slide-count {
        position: absolute;
        bottom: .5rem;
        right: .5rem;
        color: #444;
    }
    .slide {
        height: 480px;
        width: 840px;
        overflow: hidden;
    }

    .slide :global(a, a:visited) {
        color: inherit;
    }

    @media (max-width: 872px) {
        .slide {
            height: calc(95vw * .57142);
            width: 95vw;
            margin: 0 auto;
        }
    }
</style>

<script>
import { AppStore } from '../App.store';
import { Converter } from 'showdown';
const converter = new Converter();
const navKeyCodes = [32, 37, 39];

export default {
    data: () => ({
        slideIndex: 0,
    }),
    store: () => AppStore,
    computed: {
        slide: ({ $presentation, slideIndex }) => !$presentation ? {} : $presentation.slides[slideIndex],
        mdHtml: ({ slide = {} }) => converter.makeHtml(Array.isArray(slide.md) ? slide.md.join('\n') : (slide.md || '')),
        slideClasses: ({ slide = {} }) => (slide.classes || []).join(' '),
    },
    methods: {
        onKeyup(e) {
            const keyCode = e.which || e.keyCode;
            if(navKeyCodes.indexOf(keyCode) === -1) return;

            const { presentation: { slides } } = AppStore.get();
            let { slideIndex } = this.get();
            e.preventDefault();

            if (keyCode === 39 || keyCode === 32) {
                this.set({ slideIndex: Math.min(slides.length - 1, slideIndex + 1) });
            } else if (keyCode === 37) {
                this.set({ slideIndex: Math.max(0, slideIndex - 1) });
            }
        },
        nextSlide() {
            const { presentation: { slides } } = AppStore.get();
            let { slideIndex } = this.get();
            this.set({ slideIndex: Math.min(slides.length - 1, slideIndex + 1) });
        }
    }
}
</script>