<TitleBar></TitleBar>
<div id="app" class="vertical flex">
</div>

<style>
	#app {
		height: 100%;
	}
</style>

<script>
	import Router from './Router/Router.html';
	import Routes from './Routes.js';

	export default {
		oncreate() {
			this.router = new Router({
				target: document.querySelector('#app'),
				data: { routes: Routes }
			});
        },
        components: {
            TitleBar: './TitleBar',
        }
	}

</script>