<header class="shadow-3">
    <div class="row horizontal center">
        <div on:click="back()" class="back-button">
            <i class="material-icons center">arrow_back</i>
        </div>
        <h1 class="name">WDX2 Slides</h1>
        <span class="flex"></span>
        {#if $installPrompt}
        <div class="install-button" on:click="onInstall()">Install</div>
        {/if}
    </div>
</header>

<style>
    header {
        position: relative;
        background-color: #0f151b;
        color: white;
        padding: .5rem;
    }

    .row {
        position: relative;
        height: 1.5rem;
        margin: 0 auto;
        max-width: 800px;
    }

    h1,
    .name {
        font-size: 1rem;
        line-height: 1;
        margin: 0;
        color: white;
        text-decoration: none;
    }

    .name {
        margin-left: 1rem;
    }

    .name {
        cursor: pointer;
    }

    .back-button {
        position: relative;
        margin: 0;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
        box-shadow: initial;
        cursor: pointer;
        transition: background-color .2s ease;
    }

    .back-button:active,
    .back-button:hover {
        background: rgba(255, 255, 255, .5);
    }

    .install-button {
        color: #00509f;
        border: 2px solid #00509f;
        padding: .15rem 1.5rem;
        border-radius: 5px;
        font-weight: 500;
        line-height: 18px;
        font-size: 14px;
        background: #222;
        cursor: pointer;
    }
</style>

<script>
    import { back, navigate, getActivatedRoute } from './Router/RouterService.js';
    import { AppStore } from './App.store';

    export default {
        store: () => AppStore,
        data() {
            return {
                isHome: false,
            };
        },
        methods: {
            back() {
                back();
            },
            home() {
                navigate('/');
            },
            onInstall() {
                const { installPrompt } = AppStore.get();

                installPrompt.prompt();

                installPrompt.userChoice.then(result => {
                    console.log('Installed?', result);
                    AppStore.set({ installPrompt: null });
                });
            }
        }
    };
</script>